@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 65.5%;
}
:root{
    --cor-principal: rgb(250, 177, 40);
    --cor-branca: white;
    --cor-escura: rgb(145, 96, 6);
    --cor-bg-busca: #f2f2f2;
    --s-valor-bg: #141622;
}

.super-topo .super-topo-box {
    width: 100%;
    background: var(--cor-principal);
}
.super-topo-box .super-topo-box-corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-branca);
    padding: 1rem 0;
    background: var(--cor-escura);
    clip-path: polygon(8% 0%, 92% 0%, 96% 100%, 5% 100%);
}
.super-topo-box .super-topo-box-corpo .col-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca);
    margin-left: 13rem;
}
.super-topo-box .super-topo-box-corpo .col-1 span{
    font-size: 1.1rem;
}
.super-topo-box .super-topo-box-corpo .col-1 span i{
    font-size: 1.1rem;
    color: var(--cor-principal);
    padding-right: 0.5rem;
}
.super-topo-box .super-topo-box-corpo .col-2{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca);
    margin-right: 13rem;
}
.super-topo-box .super-topo-box-corpo .col-2{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca);
    margin-right: 13rem;
}
.super-topo-box .super-topo-box-corpo .col-2 a,
.super-topo-box .super-topo-box-corpo .col-2 span,
.super-topo-box .super-topo-box-corpo .col-2 .social i{
    color: var(--cor-branca);
    font-size: 1.1rem;
    transition: 0.4s;

}
.super-topo-box .super-topo-box-corpo .col-2 .social{
    display: flex;
    gap: 0.9rem;
}
.super-topo-box .super-topo-box-corpo .col-2 a i {
    padding-right: 0.5rem;
}
.super-topo-box .super-topo-box-corpo .col-2 i:hover,
.super-topo-box .super-topo-box-corpo .col-2 a:hover{
    color: var(--cor-principal);
}
.topo-menu-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0.5rem 9.5%;
    background: var(--cor-branca);
    box-shadow: 0 0 5px  rgba(190, 190, 190, 0.5),
    0 0 10px  rgba(190, 190, 190, 0.5);
    z-index: 112;
    transition: 0.4s ease;

}

.topo-menu-site.sticky{
    padding: 0 9.5%;
}
.topo-menu-site .logo img{
    width: 200px;
}
.topo-menu-site nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.menuSite{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .menuSite ul li{
    padding: 2.5rem 0.5rem;
}
nav .menuSite .menulinks{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
nav .menuSite .menulinks li a{
    position: relative;
    color: var(--cor-escura);
    font-size: 1.4rem;
    font-weight: 600;
}
nav .menuAnunciar{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
nav .menuAnunciar i{
    font-size: 1.9rem;
    color: var(--cor-escura);
    cursor: pointer;
}
nav .menuAnunciar .addBtn{
    position: relative;
    background: var(--cor-principal);
    font-size: 1.6rem;
    padding: 1.2rem 1.5rem;
    color: var(--cor-branca);
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}
nav .menuAnunciar .addBtn:hover{
    background: var(--cor-escura);
    color: var(--cor-branca);
}
nav .menuAnunciar .addBtn i,
nav .menuAnunciar .addBtn i:hover{
    color: var(--cor-branca);
    padding-right: 0.5rem;
}
#menuBtn{
    font-size: 3.5rem;
}
nav .menuAnunciar i:hover{
    color: var(--cor-principal);
}
nav .menuSite ul li a:hover,
nav .menuSite ul li a.active{
    color: var(--cor-principal);
}

nav .menuSite ul li .menuSub{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 5rem;
    text-align: justify;
    width: 180px;
    background-color: var(--cor-branca);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}
nav .menuSite ul li {
    transition: 0.4s ease;
}
nav .menuSite ul li:hover .menuSub{
    display: flex;
}
nav .menuSite ul li .menuSub li{
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
    padding: 0.5rem 0 1rem 1rem;
    z-index: 100;
    overflow: hidden;
}
nav .menuSite ul li .menuSub li a{
    font-size: 1.2rem;
    transition: 0.4s ease;   
}
nav .menuSite ul li .menuSub li a:hover{
    font-size: 1.3rem;
    padding-left: 0.5rem;
}
.menuSub li .menuSub2{
    position: absolute;
    left: 182px;
    width: 180px;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    align-items: left;
    text-align: justify;
    padding: 1rem 0 0;
    background: var(--cor-branca);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    z-index: 112;
    overflow: hidden;
    display: none;
}
.menuSub li:hover .menuSub2{
    display: flex;
}
.menuSub li .setabaixo{
    position: absolute;
    left: 150px;
    color: var(--cor-escura);
}
.menuSub li:hover .setabaixo{
    color: var(--cor-principal);
}

/*slide*/
.slide-destaque .slide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center ;
    width: 100%;
    height: 110vh;
    padding: 0 15rem;
}
.slide-destaque .slide .col-1{
    flex: 1 1 20rem;
}
.slide-destaque .slide .col-1 h4{
    font-size: 2.5rem;
    color: var(--cor-principal);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}

.slide-destaque .slide .col-1 h1{
    font-size: 3.2rem;
    color: var(--cor-branca);
    text-transform: capitalize;
    letter-spacing: 3px;
}
.slide-destaque .slide .col-1 h1 span{
    color: var(--cor-principal);
}
.slide-destaque .slide .col-1 p {
    font-size: 1.4rem;
    color: var(--cor-branca);
    letter-spacing: 2px;
    padding-top: 4rem;
}
.slide-destaque .slide .col-1 .button{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.slide-destaque .slide .col-1 .button a{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    position: relative;
    padding: 1.8rem 2.8rem 1.8rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
}
.slide-destaque .slide .col-1 .button a i{
    font-size: 2.5rem;
    position: absolute;
    top: 33%;
    right: -1rem;
    transform: translate(-40%);
}
.slide-destaque .slide .col-1 .button a.lojasBtn{
    background: var(--cor-principal);
    color: var(--cor-branca);
}
.slide-destaque .slide .col-1 .button a.sobreBtn{
    background: var(--cor-branca);
    color: var(--cor-principal);
}
.slide-destaque .slide .col-1 .button a.lojasBtn:hover,
.slide-destaque .slide .col-1 .button a.sobreBtn:hover{
    background: var(--cor-escura);
    color: var(--cor-branca);
}
.slide-destaque .slide .col-2 {
    flex: 1 1 40rem;
    padding-top: 3rem;

}
.slide-destaque .slide .col-2 img{
    width: 80%;
    height: auto;

}
.slide-destaque .swiper [class^="swiper-button-"]{
    color: var(--cor-branca);
    background: rgba(211, 125, 13, 0.5);
    padding: 2.5rem;
}
.slide-destaque .swiper [class^="swiper-button-"]:hover{
    background-color: var(--cor-principal);
}
.slide-destaque .swiper [class^="swiper-button-"]::before{
    font-size: 2rem;
}
/*fim slide*/
/* inicio area de pesquisa*/
.busca-site  {
position: relative;
background: var(--cor-bg-busca);
padding: 0 16rem;
display:flex ;
justify-content: center;
}
.busca-site .filtro {
    max-width: 1200px;
    width: 100%;
    padding: 2.5rem;
    position: absolute;
    top: -7rem;
    z-index: 111;
    background: var(--cor-branca);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 
    0 0 10px rgba(190, 190, 190, 0.5);
    overflow: hidden;
}
.filtro .filtro-linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
}
.filtro h3{
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--cor-escura);
    letter-spacing: 1px;
    padding-bottom: 2rem;
}
.filtro .filtro-linha h4{
    font-size: 1.7rem;
    color: var(--cor-escura);
    padding-bottom: 1.5rem;
}
.filtro .filtro-linha select {
    font-size: 1.5rem;
    font-weight: 500;
    width: 200px;
    height: 45px;
    border: 1px solid var(--cor-escura);
    padding: 0 1rem;
    color: var(--cor-escura);
    border-radius: 5px;
}
.filtro .filtro-linha select option{
    padding: 0.5rem;
    border-bottom: 1px solid var(--cor-escura);
}
.busca-site .busca-site-btn button{
    font-size: 1.5rem;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    padding: 1.3rem 2rem;
    margin-top: 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
} 
.busca-site .busca-site-btn button i{
    padding-right: 0.5rem;
    }
    .busca-site .busca-site-btn button:hover{
        background-color: var(--cor-escura);
    }
/* fim area de pesquisa*/
section{
    padding: 2.5rem 16rem;
    background: var(--cor-bg-busca);
}
.sobreNos{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding-top: 35rem;
}
    .sobreNos .col-3{
        flex: 1 1 20rem;
        position: relative;
    }
    .sobreNos .col-3 img.s-img-um{
        width: 100%;
        height: auto;
    }
    .sobreNos .col-3 .s-valor{
        position: absolute;
        top:0;
        left:0;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
        padding: 1rem;
        background-color: var(--s-valor-bg);
        border-radius: 20px;
    }
    .sobreNos .col-3 .s-valor span{
        color: var(--cor-branca);
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .sobreNos .col-3 .s-valor img.s-img-dois{
        width: 80px;
    }
    .sobreNos .col-4{
        flex: 1 1 20rem;
    }
    .sobreNos .col-4 h4{
        font-size: 2rem;
        font-weight: 500;
        color: var(--cor-principal);
        letter-spacing: 1px;
        padding-bottom: 1rem; 
    }
    .sobreNos .col-4 h4 i{
        padding-right: 0.5rem;
    }
    .sobreNos .col-4 h3{
        font-size: 4rem;
        text-transform: capitalize;
        color: var(--cor-escura);
        padding-bottom:2rem;
    }
    .sobreNos .col-4 h3 span{
        color: var(--cor-principal);
    }
    .sobreNos .col-4 p.text{
        font-size: 1.4rem;
        color: var(--cor-escura);
        padding-bottom: 1rem;
    }
    .sobreNos .col-4 .p1{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .sobreNos .col-4 .p1 i{
        font-size: 1.6rem;
        color: var(--cor-principal);
        padding-right: 0.5rem;
    }
    .sobreNos .col-4 a{
        font-size: 1.6rem;
        color: var(--cor-branca);
        background-color: var(--cor-principal);
        position: relative;
        margin-top: 2.5rem;
        padding: 1.5rem 3.5rem;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .sobreNos .col-4 a:hover{
        background-color: var(--cor-escura);
        color: var(--cor-branca);
    }
    .sobreNos .col-4 a i{
        font-size: 2rem;
        position: absolute;
        top: 20px;
    }
/* inicio contador*/
.contador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
    min-height: 50vh;
    background: url(../img/contador/bg-contador.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.contador .contador-box{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.contador .contador-box img{
    width: 70px;
    height: 70px;
    background-color: var(--cor-branca);
    border-radius: 50%;
    padding: 0.5rem;
}
.contador .contador-box span.numero{
    color: var(--cor-branca);
    font-size: 3.2rem;
    font-weight: 600;
    padding: 1rem 0;
}
.contador .contador-box span.text{
    color: var(--cor-branca);
    font-size: 1.5rem;
    font-weight: 500;
}
.contador .contador-box span.text i{
    padding-right: 0.5rem;
}
/* fim contador*/
/* inicio veiculos*/
.carrosRecentes{
    text-align: center;
    padding-top: 7rem;
}
section h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-principal);
    letter-spacing: 2px;
    text-transform: uppercase;
}
section h4 i{
    padding-right: 0.5rem;
}
section h1 {
    position: relative;
    margin-bottom: 6rem;
    color: var(--cor-escura);
    font-size: 4.7rem;
    padding-bottom: 4rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
section h1::before{
    content: '';
    width: 100px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: var(--cor-branca);
    border: 4px solid var(--cor-principal);
    border-radius: 10px;
    transform: translateX(-50%);
}
section h1::after{
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    left: 48%;
    bottom: 1.1rem;
    border-radius: 40px;
    transform: translateX(-50%);
    background-color: var(--cor-escura);

}
section h1 span{
    color: var(--cor-principal);
}
.carrosRecentes .cr-linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.carrosRecentes .cr-linha .cr-col {
    padding: 1rem;
    box-shadow: 0 0 5px var(--cor-escura);
    background-color: var(--cor-branca);
    border-radius: 5px;
    text-align: justify;
}
.carrosRecentes .cr-linha .cr-col .img-cr{
    width: 100%;
    height: 15rem;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s ease;
}
.carrosRecentes .cr-linha .cr-col .img-cr img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.carrosRecentes .cr-linha .cr-col .img-cr:hover img{
        transform: scale(1.3);
}
.carrosRecentes .cr-linha .cr-col h5{
    font-size: 1.8rem;
    color: var(--cor-escura);
    padding: 1rem 0;
}
.carrosRecentes .cr-linha .cr-col .classificacao{
    display: flex;
    gap: 1rem;
    padding-bottom: 0,5rem;
    align-items: center;
}
.carrosRecentes .cr-linha .cr-col .cl-estrelas i{
    font-size: 1.4rem;
    color: var(--cor-principal);
}
.carrosRecentes .cr-linha .cr-col .cl-ct-estrelas span{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-escura);
}
.carrosRecentes .cr-linha .cr-col .cr-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.carrosRecentes .cr-linha .cr-col .cr-info span{
    font-size: 1.1rem;
    color: var(--cor-escura);
}
.carrosRecentes .cr-linha .cr-col .cr-info i{
    padding-right: 1.3rem;
    color: var(--cor-principal);
}
.carrosRecentes .cr-linha .cr-col .cr-valor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carrosRecentes .cr-linha .cr-col .cr-valor p{
    font-size: 1.5rem;
    color: var(--cor-principal);
    font-weight: 600;
}
.carrosRecentes .cr-linha .cr-col .cr-valor a{
    background-color: var(--cor-principal);
    padding: 0.8rem 2.8rem;
    border-radius: 0.5rem ;
    color: var(--cor-branca);
    cursor: pointer;
    transition: 0.3s ease;
}
.carrosRecentes .cr-linha .cr-col .cr-valor a:hover{
    background-color: var(--cor-escura);
}
.carrosRecentes a.cr-link{
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    margin-top: 4rem;
    padding: 1.4rem 3.5rem;
    border-radius: 12px;
    transition: 0.5s ease;
}
.carrosRecentes a.cr-link:hover{
    background-color: var(--cor-escura);
}
.carrosRecentes a.cr-link i{
    padding-left: 0.5rem;
}
/* fim veiculos*/
/* inicio departamentos*/
.departamento{
    background-color: var(--cor-branca);
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.departamento .dep-linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}
.departamento .dep-linha .dep-col{
    width: 100%;
    padding: 2rem;
    background-color: var(--cor-bg-busca);
    border-radius: 12px;
    box-shadow: 0 0 5px var(--cor-escura);
    transition: 0.4s ease;
}
.departamento .dep-linha .dep-col:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 5px var(--cor-principal);

}
.departamento .dep-linha .dep-col img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.departamento .dep-linha .dep-col h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-escura);
}
.departamento .dep-linha .dep-col:hover h5{
    color: var(--cor-principal);
    text-shadow: 0 0 5px var(--cor-branca);
}
/* fim departamentos*/
/* inicio play*/
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 80vh;
    background: url(../img/cta/bg-cta-ms.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.play .play-btn{
    position: relative;
    background-color: var(--cor-branca);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 5rem;
    line-height: 100px;
    color: var(--cor-principal);
}
.play .play-btn i{
    transform: translate(5%,6%);
}
.play .play-btn::before ,
.play .play-btn::after { 
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 6px solid rgba(241, 218, 10, 0.5);
    border-radius: 50%;
    animation: animar 1.5s linear infinite;
    opacity: 1;
}
@keyframes animar{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}
.play .play-btn::after{
    animation-delay: 0.5s;
}
/* fim play*/
/* inicio revenda*/
.revendas{
    background-color: var(--cor-branca);
    padding-top: 7rem;
    padding-bottom: 3rem;
    text-align: center;
}
.revendas .revenda-linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}
.revendas .revenda-linha .revenda-col{
    position: relative;
    width: 100%;
    text-align: justify;
    background-color: var(--cor-branca);
    box-shadow: 0 0 5px var(--cor-escura);
    padding: 1rem;
    border-radius: 12px;
    transition: 0.5s ease;
}
.revendas .revenda-linha .revenda-col:hover{
    transform: translateY(-10px);
}
.revendas .revenda-linha .revenda-col .revenda-img{
    background-color: var(--cor-bg-busca);
    border-radius: 12px;
}
.revendas .revenda-linha .revenda-col .revenda-img img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.revendas .revenda-linha .revenda-col .revenda-total-veiculos{
    background-color: var(--cor-principal);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.3rem;
    color: var(--cor-branca);
    border-radius: 40px;
    padding: 0.7rem 1.4rem;
}
.revendas .revenda-linha .revenda-col h5{
    font-size: 1.6rem;
    padding: 1rem 0;
}
.revendas .revenda-linha .revenda-col p{
    font-size: 1.3rem;
    color: var(--cor-escura);
    padding-bottom: 1rem;
}
.revendas .revenda-linha .revenda-col p i {
    color: var(--cor-principal);
    padding-right: 0.5rem;
}
/* fim revenda */
/* inicio  gerar valor*/
.gerar-valor{
    width: 100%;
    background-color: var(--cor-escura);
}
.gerar-valor .g-v-linha{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
}
.gerar-valor .g-v-linha .col-1{
    display: flex;
    flex: 1 1 10rem;
    flex-direction: column;
    gap: 2rem;
}
.gerar-valor .g-v-linha .col-1.centro{
    padding-top: 6rem;
}
.gerar-valor .g-v-linha .col-2{
    flex: 1 1 30rem;
}
.gerar-valor .g-v-linha .col-2 img{
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}
.gerar-valor .g-v-linha .col-2 img:hover{
    transform: translateY(-20px);
}
.gerar-valor .g-v-linha .col-1 .g-v-um{
    background-color: var(--cor-branca);
    border-radius: 12px;
    padding: 1.3rem;
}
.gerar-valor .g-v-linha .col-1 .g-v-um .g-v-numero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
} 



.gerar-valor .g-v-linha .col-1 .g-v-um .g-v-numero img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.gerar-valor .g-v-linha .col-1 .g-v-um .g-v-numero h2{
    font-size: 6rem;
    color: var(--cor-principal);
}
.gerar-valor .g-v-linha .col-1 .g-v-um h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-escura);
    padding-bottom: 1rem;
}
.gerar-valor .g-v-linha .col-1 .g-v-um p{
    font-size: 1.3rem;
    color: var(--cor-escura);
} 
.gerar-valor .g-v-linha .col-2 h4{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2;
    color: var(--cor-branca);
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}
.gerar-valor .g-v-linha .col-2 h4 i{
    padding-right: 0.5rem;
}
.gerar-valor .g-v-linha .col-2 h3{
    font-size: 3.5rem;
    color: var(--cor-branca);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 4rem;
}
.gerar-valor .g-v-linha .col-2 h3 span{
    color: var(--cor-principal);
}
.gerar-valor .g-v-linha .col-2 p{
    font-size: 1.3rem;
    color: var(--cor-branca);
    padding-bottom: 3rem;
}
/* fim  gerar valor*/
/* inicio marcas*/
.marcas{
    text-align: center;
    padding-top: 7rem;
}
.marcas .marca-linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}
.marcas .marca-linha .marca-col{
    position: relative;
    padding: 1rem;
    background-color: var(--cor-branca);
    border-radius: 12px;
    box-shadow: 0 0 5px var(--cor-escura);
}
.marcas .marca-linha .marca-col:hover{
    transform: translateY(-10px);
}
.marcas .marca-linha .marca-col img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.marcas .marca-linha .marca-col h5{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--cor-escura);
}
/* fim  marcas*/
/* inicio depoimentos*/
.depoimentos{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.depoimentos .slide{
    background-color: var(--cor-branca);
    box-shadow: 0 0 2px var(--cor-escura);
    padding: 1rem;
}
.depoimentos .slide img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    background-color: var(--cor-principal);
    padding: 0.5rem;
}
.depoimentos .slide h5{
    font-size: 1.8rem;
    color: var(--cor-escura);
    padding: 0.5rem;
}
.depoimentos .slide span{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--cor-principal);
}
.depoimentos .slide p{
    font-size: 1.4rem;
    color: var(--cor-escura);
}
.depoimentos .slide i{
    color: var(--cor-principal);
    font-size: 1.2rem;
}


/* fim  depoimentos*/




/* inicio cel 
  procurar ajuda, algumas medias nao funconam*/
@media (max-width: 1500px) {
    .busca-site {
        padding: 0 0;
    }
}
 @media (max-width:1150px) {
    .super-topo-box .super-topo-box-corpo .col-1{
        margin-left: 8rem;

    }
    .super-topo-box .super-topo-box-corpo .col-2{
        margin-right: 8rem;
    }

    .slide-destaque .slide{
        display: block;
        height: auto;
        padding: 5rem 10rem;
    }
    .slide-destaque .slide .col-2 img{
        width: 90%;
        height: auto;
    }
    .sobreNos .col-4 h3 {
        font-size: 2.2rem;
    }
 }
 @media (max-width: 1190px){
    nav .menuSite ul li {
        padding: 2.1rem 0; 
     }
     nav .menuAnunciar .addBtn{
        display: none;
     }
     .contador{
        padding: 2rem 10rem;
     }
     .revendas .revenda-linha{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .revendas .revenda-linha .revenda-col .revenda-img img{
        width: 100%;
        height: auto;
    }
 }
 @media (max-width: 1370px) {
    nav .menuSite ul li {
       gap: 1rem; 
    }
    nav .menuSite .menulinks{
        gap: 0.5rem;
    }
    .sobreNos .col-3 img.s-img-um{
        margin-top: 130px;
        height: auto;   
    }
    .carrosRecentes .cr-linha{
        grid-template-columns: 1fr 1fr;
    } 
    .departamento .dep-linha {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .marcas .marca-linha{
        grid-template-columns: 1fr 1fr 1fr;
    } 
    .marcas .marca-linha .marca-col img{
        height: auto;
    }
 }
 @media (max-width:991px) {
    .super-topo{
        display: none;
    }
    nav .menuSite .menulinks  {
           position: absolute;
           top: 5.3rem;
           left: 0;
           width: 100%;
           background: var(--cor-branca);
           box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
           0 0 10px rgba(190, 190, 190, 0.5);
           padding-left: 30px;
           transition: 0.5s ease-in-out;
           display: none;    
    } 
   nav .menuSite .menulinks.active{
        display: block;
   }
    .topo-menu-site.sticky {
        padding: 0.6rem 9.5%;
    }
    nav .menuSite ul li {
        padding: 1rem 0;
    }
  nav .menuSite ul li .menuSub{
    position: sticky;
    display: none;
 }
.menuSub li .menuSub2{
    position: sticky;
    margin-top: 0rem;
}
nav .menuAnunciar i.cart{
    display: none;
}
.filtro .filtro-linha{
    grid-template-columns: 1fr 1fr 1fr;
}
.sobreNos {
    padding-top: 40rem;
}
section {
    padding: 1.5rem 10rem;
}
.sobreNos .col-4 h3{
    font-size: 2.5rem;
}
.sobreNos .col-3 img.s-img-um{
    margin-top: 130px;
    height: auto;
}
.contador {
    grid-template-columns: 1fr 1fr;
}
.revendas .revenda-linha{
    grid-template-columns: 1fr 1fr;
}
.revendas .revenda-linha .revenda-col .revenda-img img{
    width: 100%;
    height: auto;
}
}
@media (max-width:880px) {
    .departamento .dep-linha {
        grid-template-columns: 1fr 1fr 1fr;
    } 
}
@media (max-width:768px) {
    .filtro .filtro-linha{
        grid-template-columns: 1fr 1fr;
    }
    .sobreNos {
        padding-top: 50rem;
    }
    .sobreNos .col-3 img.s-img-um{
        margin-top: 130px;
        height: auto;
    }
    .contador{
        padding: 2rem 7rem;
    }
    .carrosRecentes .cr-linha{
        grid-template-columns: 1fr;
    }  
    section .cr-linha .cr-col .img-cr{
        height: auto;
    }
    section h1{
        font-size: 2.8rem;
    }
    .gerar-valor .g-v-linha .col-2 h3{
        font-size: 2.4rem;
    }
    .marcas .marca-linha{
        grid-template-columns: 1fr 1fr;
    } 
    .marcas .marca-linha .marca-col img{
        height: auto;
    }
    .marcas h1{
        font-size: 2.8rem;
    }
}
@media (max-width:700px) {
    .departamento .dep-linha {
        grid-template-columns: 1fr 1fr;
    } 
}
@media (max-width:600px){
    .slide-destaque .slide{
        padding: 5rem 7rem;
    }
    .slide-destaque .slide .col-1 h4{
        font-size: 2rem;
    }
    .slide-destaque .slide .col-1 h1{
        font-size: 3.2rem;
    }
    .slide-destaque .slide .col-1 .button a{
        padding: 1.5rem 2.8rem 1.5rem 2rem;
        font-size: 1.3rem;
    }
    .slide-destaque .slide .col-1 .button a i{
        font-size: 2rem;
    }
    .slide-destaque .msSlider .swiper-wrapper .slide .col-2 img{
        width: 90%;
        height: auto;
    }
    .filtro .filtro-linha{
        gap: 0.5rem;      
    }
 
    section {
        padding: 1.5rem 7rem;
    }
    .sobreNos .col-4 h3{
        font-size: 2.9rem;
    }
    .sobreNos .col-3 img.s-img-um{
        margin-top: 130px;
        height: auto;   
    }  
    .contador {
        grid-template-columns: 1fr;
    } 
    .departamento .dep-linha {
        grid-template-columns: 1fr 1fr;
    } 
    .revendas .revenda-linha{
        grid-template-columns: 1fr;
    }
    .revendas .revenda-linha .revenda-col .revenda-img img{
        width: 100%;
        height: auto;
    }
    .gerar-valor .g-v-linha .col-2 h3{
        font-size: 2.4rem;
    }
    .gerar-valor .g-v-linha .col-2 img{
        height: auto;
    }
}
@media (max-width:450px){
    .topo-menu-site .logo img{
        width: 120px;
    }
    nav .menuSite .menulinks{
        top: 4.6rem;
    }
    .slide-destaque .slide .col-1 h4{
        font-size: 1.3rem;
    }
    .slide-destaque .slide .col-1 h1{
        font-size: 2.2rem;
    }
    .filtro .filtro-linha{
        grid-template-columns: 1fr;
    }
    .filtro .filtro-linha select{
        width: 100%;
    }
    .filtro .busca-site-btn button{
        width: 100%;
    }
    .sobreNos{
        padding-top: 80rem;
    }
    .sobreNos .col-4 h3{
        font-size: 2.4rem;
    }
    .sobreNos .col-3 img.s-img-um{
        margin-top: 130px;
        height: auto;   
    }   
    section h1{
        font-size: 2rem;
    }
    section .cr-linha .cr-col .cl-ct-estrelas span{
    font-size: 1rem;
    }
    section .cr-linha .cr-col .cl-ct-estrelas i{
        font-size: 1rem;
    }
    .departamento .dep-linha {
        grid-template-columns: 1fr;
    } 
    .departamento .dep-linha img {
        width: 100%;
        height: auto;
        object-fit: cover;
    } 
    .gerar-valor .g-v-linha .col-2 h3{
        font-size: 2.4rem;
    }
    .gerar-valor .g-v-linha .col-2 img{
        height: auto;
    }
    .marcas .marca-linha{
        grid-template-columns: 1fr;
    } 
    .marcas .marca-linha .marca-col img{
        height: auto;
    }
    .marcas h1{
        font-size: 2.4rem;
    }

}
/* fim cel */
































